@model RutasCheck.Models.Parada

@{
    ViewData["Title"] = "Create";
    ViewData["header-title-page"] = "Paradas";
    ViewData["header-sub-title-page"] = "Agregar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-inner mt--5">
    <div class="card">
        <div class="div card-body">
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="NombreParada" class="control-label"></label>
                            <input asp-for="NombreParada" class="form-control" />
                            <span asp-validation-for="NombreParada" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <a asp-action="Index" class="btn btn-danger">Cancelar</a>

                            <input type="submit" value="Guardar" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
